<div class="container">
<div class="bo">Main Menu</div>
<div style="text-align:center">
<div class="boo">下記のメニューよりクリックしてください。</div>
<%= button_to "My Page", mypage_admin_path, id: "menu-button",class:"btn btn-light" %>
<%= button_to "単語帳", dictionary_new_path , id: "menu-button",class:"btn btn-light"%>
<%= button_to "ランキング", dictionary_ranking_path, id: "menu-button",class:"btn btn-light" %>
<%= button_to "単語管理", admins_index_path, id: "menu-button",class:"btn btn-light" %>
</div>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* 최소 높이를 화면 높이와 같도록 설정하여 세로 중앙 정렬 */
}

#menu-button {
  width: 300px; /* 원하는 너비 설정 */
  height: 38px; /* 원하는 높이 설정 */
  margin-top: 5px;
  font-size: 18px; /* 원하는 글꼴 크기 설정 */
  /* 기타 스타일 속성을 필요에 따라 추가할 수 있습니다. */
}

.bo{font-size:3em; text-align:center; font-weight:bold;}

.boo{font-size:1.2em; margin-bottom:30px; margin-top:20px;}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color:lightgray;
}
</style>