<h1 align="center">Main Menu</h1>
<div style="text-align:center">
<p>下記のメニューよりクリックしてください。</p>
<%= button_to "新しいUser作成", users_new_path %>
<%= button_to "単語帳", dictionary_new_path %>
<%= button_to "ランキング", dictionary_ranking_path %>
<%= button_to "単語管理", admins_index_path %>
</div>