<!--DOCTYPE html-->
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>会員登録ありがとうございます。<%= @user.name %> 様</h1>
    <h1>
      今後ともたくさんのご利用をお待ちしております。 ありがとうございます。
    </h1>
  </body>
</html>