<div class="ma">
<h1>単語</h1>
word : <%= @question.question%><br>
mean : <%= @question.description%><br>
<hr/>
<h2>類似語</h2>
<%= @question_similar_word.similar_word%><br>

<div style="text-align:right">
<%= button_to "単語リスト", admins_index_path %>
</div>
</div>

<style>
.ma{margin-left:50px; margin-right:50px; margin-top:50px;}
</style>