<div class="ma">
<h1>単語</h1>
question : <%= @question.question%><br>
description : <%= @question.description%><br>
<hr/>
<h2>類似語</h2>
<% @question_similar_word.each do |similar_word| %>
    <%= similar_word.similar_word %><br>
<% end %>

<div style="text-align:right">
<%= button_to "単語リスト", admins_index_path,class:"btn btn-outline-secondary" %>
</div>
</div>

<style>
.ma{margin-left:50px; margin-right:50px; margin-top:50px;}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color:whitesmoke;
    }
</style>