<h1 align="center">クイズ</h1>
<div style="text-align:right">
    <%= button_to "MAIN", main_new_path %>
</div>
<span>第</span><span>@@</span><span>問(全 50 問)</span><br>
<span>問題：</span>
<p>類似語</p>
<hr/>


